@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Event Manager App</h1>
    <p>Check out the events  <a asp-area="" asp-page="/Events/Index">here</a>!</p>
</div>
